name: Deploy AI App to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~

            if [ ! -d "ai-student-score" ]; then
              git clone https://github.com/sumanthreddygayam/ai-student-score.git
            fi

            cd ai-student-score
            git pull origin main

            sudo apt update
            sudo apt install python3-venv -y

            if [ ! -d "venv" ]; then
              python3 -m venv venv
            fi

            source venv/bin/activate
            pip install -r requirements.txt

            sudo systemctl restart ai-student-score
